<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
    <title>The pict app!</title>
    <style>
        
    </style>
</head>
<body>
    <header aria-label="Page Header">
        <div class="mx-auto max-w-screen-xl px-4 py-8 sm:py-12 sm:px-6 lg:px-8">
          <div class="sm:flex sm:items-center sm:justify-between">
            <div class="text-center sm:text-left">
              <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">
                The Pict Web App
              </h1>
      
              
            </div>
      
            <div class="mt-4 flex flex-col gap-4 sm:mt-0 sm:flex-row sm:items-center">
              
            </div>
          </div>
        </div>
      </header>
      
    
    <form action="/upload" method="post" enctype="multipart/form-data">
    <div class="flex justify-center items-center"id="card">
        <a
  class="relative flex items-start justify-between rounded-xl border border-gray-100 p-4 shadow-xl sm:p-6 lg:p-8"
  href="#"
><input type="file" name="file">
  <input type="submit" value="Upload Image" name="submit">

  
</a>

    </div>
    </form>
</body>
</html>
